body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;

}

.common {
    /* background-color: #cccccc; */
    border: 2px solid white;
    position: absolute;
    padding: 10px;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;

}
.leftmenu { 
    top: 280px;
    left: 5px;
    width: 200px;
    bottom: 39px;
    z-index: 10;
    padding-top: 5px;
    border-right: solid 1px #555555;
}
.mainbody {
    top: 114px;
    left: 300px;
    right: 215px;
    bottom: 55px;
    padding-right: 5px;
}
.rightmenu {
    top: 115px;
    right: 5px;
    width: 200px;
    bottom: 55px;
    border-right: solid 1px #555555;
    padding-left: 5px;
}
.footer {
    left: 5px;
    right: 5px;
    bottom: 5px;
    height: 45px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
    position: fixed
}   
.subheader {
   float: right;
}

